html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* ----------------- CSS RESET ENDS ----------------------- */

div, nav {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-weight: 400;
  line-height: 1.75;
  color: #484848;
  font-size: 100%;
}


h3 {
  font-size: 1.714em;
  font-weight: 800;
  line-height: 1.25em;
  padding-top: 2px;
  padding-bottom: 2px;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style-type: none;
}

a {
	font-family: 'Circular', Roboto, Helvetica Neue, sans-serif;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:focus {
  text-decoration: none;
}

a:active {
  color: #008489;
}


hr {
  width: 120px;
}

.hide {
	display: none;
}
span {
	font-size: 12px;
}
span > a {
	color: red !important;
}



/* The navbar styling */
.logo {
	position: absolute;
	height: 60px;
	padding: 8px;
	/* border: 2px solid red; */
	top: 0;
	left: 0;
	width: 20%;
}
.logo > h3 {
	color: #fff;;
}

nav {
  position: fixed;
  width: 100%;
  border-bottom: 2px solid #fff;
  height: 60px;
  padding: 15px  !important;
  text-align: center;
  background: linear-gradient(
      53deg,
			#00664C,
			#0c9
    );
}

nav > ul > li {
  display: inline;
  margin: 0 20px;
}

nav > ul > li > a {
  color: #fff;
}
nav > ul > li > a:hover {
  text-decoration: none;
  border-bottom: 2px solid #fff;
}



/* The library section stlying */

.library {

  width: 100%;
  min-height: 100vh;
  padding-top: 80px;
  text-align: center;
}


button {
  width: 100%;
  padding: 5px;
  font-size: 14px;

}

.shelf {
  width: 70%;
  margin: 0 auto;
  padding: 5px 10px;
}
.row {
  clear: both;
  width: 100%;
  display: inline-block;
}
.box {
  width: 33.33%;
  float: left;
  padding: 10px 20px;
}
.book {
  border: 3px solid #000;
  height: 400px;
	border-radius: 3px;
	padding: 10px;
	text-align: left;
}
.cast {
	text-align: right;
	height: 50%;
	background: linear-gradient(
      53deg,
      #ccfffc,
      #fff
    );
}
.meta {
	height: 40%;
}


/* The floating button styling */

.float{
	position:fixed;
	width:120px;
  padding: 5px;
	height:60px;
	bottom:40px;
	right:40px;
	border: 3px solid #0c9;
	color:#0c9;
	border-radius:50px;
	text-align:center;
	box-shadow: 1px 2px 3px #999;
  -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
  transition: width 0.3s;
}

.float:hover {
  width: 140px;
}

.my-float{
	margin-top:22px;
}


/* The form modal styling */

.modal {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0;
        visibility: hidden;
        transform: scale(1.1);
        transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    }
    .modal-content {
        position: absolute;
        top: 40%;
        left: 50%;
        text-align: center;
        transform: translate(-50%, -50%);
        background-color: white;
				color: #0c9;
        padding: 1rem 1.5rem;
        width: 24rem;
        border-radius: 0.5rem;
    }
    .form {
      clear: both;
    }
    form > input {
      width: 92%;
      padding: 10px;
      margin: 10px auto;
    }
    .close-button {
			  color: #fff;
        float: right;
        width: 1.5rem;
        line-height: 1.5rem;
        text-align: center;
        cursor: pointer;
        border-radius: 0.25rem;
        background-color: #f00;
    }
    .close-button:hover {
        opacity: 0.5;
    }
    .show-modal {
        opacity: 1;
        visibility: visible;
        transform: scale(1.0);
        transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
    }



		@media (max-width: 768px) {


			body {
			  font-weight: 300;
			  line-height: 1.5;
			  font-size: 75%;
			}

			/* The library section stlying */

			.library {
			  padding-top: 70px;
			}


			button {
			  width: 100%;
			  padding: 5px;
			  font-size: 14px;
			}

			.shelf {
			  width: 80%;
			  padding: 5px;
			}

			.box {
			  width: 50%;
			  padding: 10px 8px;
			}
			.book {
			  height: 300px;
			}
		}

		@media (max-width: 1024px) {
			body {
			  font-size: 85%;
			}

			.shelf {
			  width: 90%;
			  padding: 5px;
			}

		}
